* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
  height: 100vh;
  background-color: #212121;
  display: grid;
  place-items: center;
}

main {
  background: radial-gradient(ellipse at bottom, #321b35 0%, #090a0f 100%);
  height: 80vh;
  width: 80%;
  color: white;
  word-break: break-all;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

#messages-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 80vh;
  min-height: 74vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

#message {
  width: fit-content;
  max-width: 70%;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.074);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.222);
  padding: 8px;
  border-radius: 16px;
}

#messages-wrapper button {
  position: absolute;
  right: 50%;
  bottom: 16%;
  translate: 50% 50%;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(61, 61, 61, .222);
  border: 1px solid rgba(255, 255, 255, .222);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  opacity: 60%;
}

#messages-wrapper button:hover {
  opacity: 80%;
  background-color: rgba(255, 255, 255, .222);
}

#message-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}